.mediaViewInfo {
	--web-view-name: 0.0 - Cemungud;
	--web-view-id: n_0_-_Cemungud;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-show-navigation-controls: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_0_-_Cemungud;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_0_-_Cemungud {
	position: absolute;
	width: 1920px;
	height: 18507px;
	background-color: rgba(0,0,0,1);
	overflow: hidden;
	--web-view-name: 0.0 - Cemungud;
	--web-view-id: n_0_-_Cemungud;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-show-navigation-controls: true;
	--web-enable-deep-linking: true;
}
#Asset_22x {
	position: absolute;
	width: 424.662px;
	height: 698.577px;
	left: 47.707px;
	top: 1144.388px;
	overflow: visible;
}
#n_kv2_2nb5_161231_Converted {
	position: absolute;
	width: 1330px;
	height: 936px;
	left: -32px;
	top: -15px;
	overflow: visible;
}
#Group_53 {
	position: absolute;
	width: 1956.137px;
	height: 1458.241px;
	left: -36.137px;
	top: 2505.515px;
	overflow: visible;
}
#Path_129 {
	fill: rgba(0,0,0,1);
}
.Path_129 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1410px;
	left: 36.137px;
	top: 0.485px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_52 {
	position: absolute;
	width: 1652.137px;
	height: 1458.241px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_18 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_18 {
	overflow: visible;
	position: absolute;
	width: 128.47px;
	height: 279.583px;
	left: 1516.791px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_20 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_20 {
	overflow: visible;
	position: absolute;
	width: 128.47px;
	height: 279.583px;
	left: 93.147px;
	top: 863.641px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_19 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_19 {
	overflow: visible;
	position: absolute;
	width: 105.116px;
	height: 228.474px;
	left: 1547.93px;
	top: 87px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_21 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_21 {
	overflow: visible;
	position: absolute;
	width: 229.403px;
	height: 500.477px;
	left: 0px;
	top: 958.179px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_43 {
	position: absolute;
	width: 1546px;
	height: 684.805px;
	left: 235px;
	top: 623px;
	overflow: visible;
}
#Path_5 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 158.045px;
	height: 332.53px;
	left: 115.429px;
	top: 154.404px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_6 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 81.673px;
	height: 173.427px;
	left: 143.021px;
	top: 154.71px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 320.767px;
	height: 685.228px;
	left: 69.214px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Website_ini_dibangun_untuk_tur {
	opacity: 0.65;
	left: 0px;
	top: 344.71px;
	position: absolute;
	overflow: visible;
	width: 1547px;
	white-space: nowrap;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#ic_dropdown {
	position: absolute;
	width: 23.685px;
	height: 11.842px;
	left: 761.5px;
	top: 431.322px;
	overflow: visible;
}
#Path_1 {
	fill: transparent;
	stroke: rgba(227,227,227,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 26.513px;
	height: 16.085px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Asset_22x_w {
	position: absolute;
	width: 80px;
	height: 77px;
	left: 968px;
	top: 546px;
	overflow: visible;
}
#Hidupmu_Pilihanmu_2-removebg-p {
	position: absolute;
	width: 638px;
	height: 638px;
	left: 1226.588px;
	top: 265.5px;
	overflow: visible;
}
#Menu {
	position: absolute;
	width: 126px;
	height: 61px;
	left: 1365px;
	top: 62px;
	overflow: visible;
}
#Beranda {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 61px;
	text-align: center;
	font-family: Satoshi-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Vector_1 {
	fill: transparent;
	stroke: rgba(249,115,22,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
.Vector_1 {
	overflow: visible;
	position: absolute;
	width: 126px;
	height: 10px;
	left: 0px;
	top: 61px;
	transform: matrix(1,0,0,1,0,0);
}
#Asset_42x {
	position: absolute;
	width: 58px;
	height: 58px;
	left: 1530px;
	top: 60px;
	overflow: visible;
}
#Asset_22x_ {
	position: absolute;
	width: 61px;
	height: 61px;
	left: 1637px;
	top: 62px;
	overflow: visible;
}
#Asset_12x {
	position: absolute;
	width: 69px;
	height: 69px;
	left: 1747px;
	top: 54px;
	overflow: visible;
}
#Putri_16_tahun_sepulang_sekola {
	opacity: 0.65;
	left: 660px;
	top: 1265px;
	position: absolute;
	overflow: visible;
	width: 978px;
	height: 457px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Group_64 {
	position: absolute;
	width: 1327px;
	height: 3443.55px;
	left: 63px;
	top: 471.45px;
	overflow: visible;
}
#Group_46 {
	position: absolute;
	width: 590.837px;
	height: 1326.401px;
	left: 606.734px;
	top: 0px;
	overflow: visible;
}
#Path_2 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 115.654px;
	height: 258.42px;
	left: 351.096px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 243.266px;
	height: 530.816px;
	left: 262.48px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 212.744px;
	height: 457.82px;
	left: 0px;
	top: 468px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_13 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_13 {
	overflow: visible;
	position: absolute;
	width: 174.749px;
	height: 388.132px;
	left: 344px;
	top: 869px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 243.266px;
	height: 530.816px;
	left: 42.48px;
	top: 395px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_14 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_14 {
	overflow: visible;
	position: absolute;
	width: 243.266px;
	height: 530.816px;
	left: 348.48px;
	top: 796px;
	transform: matrix(1,0,0,1,0,0);
}
#nqi1_cn28_211112_Converted {
	position: absolute;
	width: 1327px;
	height: 1165px;
	left: 0px;
	top: 2278.55px;
	overflow: visible;
}
#Asset_12x_be {
	position: absolute;
	width: 503.964px;
	height: 766.757px;
	left: 1315.777px;
	top: 1693.31px;
	overflow: visible;
}
#Buble1-removebg-preview {
	position: absolute;
	width: 951px;
	height: 951px;
	left: 552px;
	top: 1572px;
	overflow: visible;
}
#Asset_32x {
	position: absolute;
	width: 135.493px;
	height: 146.299px;
	left: 99.507px;
	top: 1572px;
	overflow: visible;
}
#Saat_makan_malam_bersama_ayah_ {
	opacity: 0.65;
	left: 1053px;
	top: 2807px;
	position: absolute;
	overflow: visible;
	width: 807px;
	height: 257px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Group_65 {
	position: absolute;
	width: 1835.106px;
	height: 1759.756px;
	left: 0px;
	top: 3929.241px;
	overflow: visible;
}
#Buble2-removebg-preview {
	position: absolute;
	width: 920.469px;
	height: 1070px;
	left: 776.5px;
	top: 0px;
	overflow: visible;
}
#Group_52_bk {
	position: absolute;
	width: 1553px;
	height: 1458.241px;
	left: 0px;
	top: 159.515px;
	overflow: visible;
}
#Path_18_bl {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_18_bl {
	overflow: visible;
	position: absolute;
	width: 128.47px;
	height: 279.583px;
	left: 1417.654px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_20_bm {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_20_bm {
	overflow: visible;
	position: absolute;
	width: 128.47px;
	height: 279.583px;
	left: 93.147px;
	top: 863.641px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_19_bn {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_19_bn {
	overflow: visible;
	position: absolute;
	width: 105.116px;
	height: 228.474px;
	left: 1448.793px;
	top: 87px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_21_bo {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_21_bo {
	overflow: visible;
	position: absolute;
	width: 229.403px;
	height: 500.477px;
	left: 0px;
	top: 958.179px;
	transform: matrix(1,0,0,1,0,0);
}
#Asset_12x_bp {
	position: absolute;
	width: 497px;
	height: 756px;
	left: 156.928px;
	top: 51.241px;
	overflow: visible;
}
#Asset_12x_bq {
	position: absolute;
	width: 485px;
	height: 567px;
	left: 1350.106px;
	top: 1192.756px;
	overflow: visible;
}
#Buble3-removebg-preview {
	position: absolute;
	width: 1106px;
	height: 1106px;
	left: 457px;
	top: 4975px;
	overflow: visible;
}
#Asset_2 {
	position: absolute;
	width: 179.666px;
	height: 172.741px;
	left: 1628.642px;
	top: 3101.454px;
	overflow: visible;
}
#Asset_6 {
	position: absolute;
	width: 215.447px;
	height: 213.906px;
	left: 967.276px;
	top: 4916.047px;
	overflow: visible;
}
#Rani_pun_hanya_diam_dan_menund {
	opacity: 0.65;
	left: 375px;
	top: 6046px;
	position: absolute;
	overflow: visible;
	width: 1189px;
	height: 646px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Asset_2_bv {
	position: absolute;
	width: 258.687px;
	height: 249.007px;
	left: 110.852px;
	top: 5873.271px;
	overflow: visible;
}
#n_ {
	opacity: 0.85;
	position: absolute;
	width: 2244px;
	height: 2244px;
	left: -162px;
	top: 6785px;
	overflow: visible;
}
#n_-removebg-preview {
	position: absolute;
	width: 761px;
	height: 761px;
	left: 1115px;
	top: 7178px;
	overflow: visible;
}
#Pembangunan_kualitas_remaja_me {
	left: 151px;
	top: 6900px;
	position: absolute;
	overflow: visible;
	width: 943px;
	height: 972px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Asset_7 {
	position: absolute;
	width: 383.281px;
	height: 367.986px;
	left: 1142.155px;
	top: 6899.507px;
	overflow: visible;
}
#n__b {
	opacity: 0.85;
	position: absolute;
	width: 2244px;
	height: 2244px;
	left: -162px;
	top: 9029px;
	overflow: visible;
}
#Chart1 {
	position: absolute;
	width: 1097px;
	height: 450px auto;
	left: 412px;
	top: 8420px;
	background-color: #fff;
	overflow: visible;
}
#Grafik1 {
	position: absolute;
	width: 1097px;
	height: 473px;
	left: 412px;
	top: 8429px;
	overflow: visible;
}
#Remaja_didefinisikan_sebagai_p {
	left: 186px;
	top: 7952px;
	position: absolute;
	overflow: visible;
	width: 1549px;
	height: 477px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Sumber__Human_Development_Repo {
	opacity: 0.65;
	left: 339px;
	top: 9008px;
	position: absolute;
	overflow: visible;
	width: 1189px;
	height: 59px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Grafik_1_ASFR_menurut_Negara_T {
	opacity: 0.65;
	left: 347px;
	top: 8940px;
	position: absolute;
	overflow: visible;
	width: 1189px;
	height: 59px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Perkembangan_tren_ASFR_selama_ {
	left: 186px;
	top: 9254px;
	position: absolute;
	overflow: visible;
	width: 1549px;
	height: 135px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}

#Chart2 {
	position: absolute;
	width: 1097px;
	height: 485px auto;
	left: 412px;
	top: 9419px;
	background-color: #fff;
	overflow: visible;
}

#Grafik2 {
	position: absolute;
	width: 1097px;
	height: 485px;
	left: 412px;
	top: 9419px;
	overflow: visible;
}
#Grafik_2_Trend_ASFR_di_Indones {
	opacity: 0.65;
	left: 366px;
	top: 9990px;
	position: absolute;
	overflow: visible;
	width: 1189px;
	height: 118px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Group_67 {
	position: absolute;
	width: 1652.137px;
	height: 1458.241px;
	left: -36.137px;
	top: 11223.516px;
	overflow: visible;
}
#Group_52_b {
	position: absolute;
	width: 1652.137px;
	height: 1458.241px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_18_ca {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_18_ca {
	overflow: visible;
	position: absolute;
	width: 128.47px;
	height: 279.584px;
	left: 1516.791px;
	top: -0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_20_cb {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_20_cb {
	overflow: visible;
	position: absolute;
	width: 128.47px;
	height: 279.584px;
	left: 93.147px;
	top: 863.64px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_19_cc {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_19_cc {
	overflow: visible;
	position: absolute;
	width: 105.116px;
	height: 228.474px;
	left: 1547.93px;
	top: 86.999px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_21_cd {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_21_cd {
	overflow: visible;
	position: absolute;
	width: 229.403px;
	height: 500.478px;
	left: 0px;
	top: 958.179px;
	transform: matrix(1,0,0,1,0,0);
}
#Angka_Kelahiran_per_1000_perem {
	left: 186px;
	top: 10194px;
	position: absolute;
	overflow: visible;
	width: 1549px;
	height: 189px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#n__cf {
	opacity: 0.85;
	position: absolute;
	width: 2244px;
	height: 2244px;
	left: -162px;
	top: 11273px;
	overflow: visible;
}
#Pembangunan_infrastruktur_sara {
	left: 233px;
	top: 11367px;
	position: absolute;
	overflow: visible;
	width: 1549px;
	height: 205px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Peta_Kelahiran_per_1000_Peremp {
	opacity: 0.65;
	left: 347px;
	top: 11106px;
	position: absolute;
	overflow: visible;
	width: 1189px;
	height: 167px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Grafik3_Hubungan_antara_Persen {
	opacity: 0.65;
	left: 370px;
	top: 12277px;
	position: absolute;
	overflow: visible;
	width: 1247px;
	height: 164px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Kelompok_umur_15-19_tahun_meru {
	left: 233px;
	top: 12468px;
	position: absolute;
	overflow: visible;
	width: 1549px;
	height: 345px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Asset_7_ck {
	position: absolute;
	width: 383.28px;
	height: 367.985px;
	left: 28.72px;
	top: 8786.007px;
	overflow: visible;
}
#Asset_6_cl {
	position: absolute;
	width: 255px;
	height: 252px;
	left: 1545px;
	top: 11115px;
	overflow: visible;
}
#n__cm {
	opacity: 0.85;
	position: absolute;
	width: 2244px;
	height: 2244px;
	left: -162px;
	top: 13517px;
	overflow: visible;
}
#Chart4 {
	position: absolute;
	width: 1170px;
	height: 400px auto;
	left: 408px;
	top: 12800px;
	background-color: #fff;
	overflow: visible;
}
#Grafik4 {
	position: absolute;
	width: 1170px;
	height: 505px;
	left: 408px;
	top: 12846px;
	overflow: visible;
}
#Grafik4_Angka_Partisipasi_Seko {
	opacity: 0.65;
	left: 370px;
	top: 13399px;
	position: absolute;
	overflow: visible;
	width: 1247px;
	height: 118px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Tingkat_fertilitas_remaja_yang {
	left: 219px;
	top: 13587px;
	position: absolute;
	overflow: visible;
	width: 1549px;
	height: 345px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Grafik5_Hubungan_antara_Persen {
	opacity: 0.65;
	left: 213px;
	top: 14588px;
	position: absolute;
	overflow: visible;
	width: 1569px;
	height: 164px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#n__rev {
	position: absolute;
	width: 938px;
	height: 669px;
	left: 538px;
	top: 11560px;
	overflow: visible;
}
#Grafik6_Hubungan_antara_Indeks {
	opacity: 0.65;
	left: 219px;
	top: 15562px;
	position: absolute;
	overflow: visible;
	width: 1569px;
	height: 164px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Asset_2_ct {
	position: absolute;
	width: 310.185px;
	height: 303.843px;
	left: 1609.815px;
	top: 14284.157px;
	overflow: visible;
}
#Asset_2_cu {
	position: absolute;
	width: 262.543px;
	height: 253.051px;
	left: 39.636px;
	top: 15826.053px;
	overflow: visible;
}
#Asset_32x_cv {
	position: absolute;
	width: 549.093px;
	height: 592.318px;
	left: 1419.954px;
	top: 16330px;
	overflow: visible;
}
#BoxTerakhir-removebg-preview {
	position: absolute;
	width: 1709.018px;
	height: 1709.018px;
	left: -89.987px;
	top: 15710.348px;
	overflow: visible;
}
#Dibutuhkan_intervensi_budaya_d {
	left: 335px;
	top: 16220px;
	position: absolute;
	overflow: visible;
	width: 892px;
	height: 778px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#n_kv2_2nb5_161231_Converted_cy {
	position: absolute;
	width: 1541px;
	height: 1085px;
	left: -19px;
	top: 16795px;
	overflow: visible;
}
#Rectangle_38 {
	fill: rgba(0,0,0,1);
}
.Rectangle_38 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 478px;
	left: 0px;
	top: 18048px;
}
#Group_61 {
	position: absolute;
	width: 1492px;
	height: 342px;
	left: 290px;
	top: 18140px;
	overflow: visible;
}
#TIM_EWAKO_7300 {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 210px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#SUMBER_DATA {
	left: 364px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 175px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#SUMBER_GAMBAR {
	left: 728px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 218px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Subscribe {
	left: 1092px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Naskah__Nike_Dwi_Putri {
	left: 0px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(136,136,136,1);
}
#bpsgoid {
	left: 364px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(136,136,136,1);
}
#Elementsenvantocom {
	left: 728px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(136,136,136,1);
}
#Email_Address {
	left: 1092px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(136,136,136,1);
}
#Desain__Cholifa_Fitri_Annisa {
	left: 0px;
	top: 91px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(136,136,136,1);
}
#undp {
	left: 364px;
	top: 91px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(136,136,136,1);
}
#Freepikcom {
	left: 728px;
	top: 91px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(136,136,136,1);
}
#Website__Mochamad_Asryl_Aziz {
	left: 0px;
	top: 130px;
	position: absolute;
	overflow: visible;
	width: 276px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(136,136,136,1);
}
#Pixabaycom {
	left: 728px;
	top: 130px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(136,136,136,1);
}
#Behancenet {
	left: 728px;
	top: 169px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(136,136,136,1);
}
#All_Right_Reserved_-_Copyright {
	left: 449px;
	top: 324px;
	position: absolute;
	overflow: visible;
	width: 285px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(136,136,136,1);
}
#Canvacom {
	left: 728px;
	top: 208px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(136,136,136,1);
}
#Rectangle_18 {
	fill: rgba(255,255,255,1);
	stroke: rgba(165,165,165,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 51px;
	left: 1092px;
	top: 91px;
}
#Group_3 {
	position: absolute;
	width: 19.599px;
	height: 19.747px;
	left: 1455.808px;
	top: 106.906px;
	overflow: visible;
}
#Path_25 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_25 {
	overflow: visible;
	position: absolute;
	width: 13.056px;
	height: 21.867px;
	left: 9.726px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_26 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_26 {
	overflow: visible;
	position: absolute;
	width: 19.599px;
	height: 3px;
	left: 0px;
	top: 9.875px;
	transform: matrix(1,0,0,1,0,0);
}
#Adobecom {
	left: 1018px;
	top: 18384px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(136,136,136,1);
}
#Batik-removebg-preview {
	position: absolute;
	width: 337px;
	height: 252px;
	left: 0px;
	top: 17840px;
	overflow: visible;
}
#Batik-removebg-preview_dn {
	position: absolute;
	width: 337px;
	height: 252px;
	left: 1338px;
	top: 17843px;
	overflow: visible;
}
#Batik-removebg-preview_do {
	position: absolute;
	width: 337px;
	height: 252px;
	left: 337px;
	top: 17842px;
	overflow: visible;
}
#Batik-removebg-preview_dp {
	position: absolute;
	width: 337px;
	height: 252px;
	left: 664px;
	top: 17843px;
	overflow: visible;
}
#Batik-removebg-preview_dq {
	position: absolute;
	width: 337px;
	height: 252px;
	left: 1001px;
	top: 17843px;
	overflow: visible;
}
#Batik-removebg-preview_dr {
	position: absolute;
	width: 337px;
	height: 252px;
	left: 1675px;
	top: 17843px;
	overflow: visible;
}
#Grafik_revisi {
	position: absolute;
	width: 654px;
	height: 654px;
	left: 633px;
	top: 13900px;
	overflow: visible;
}
#Grafik_revis_2 {
	position: absolute;
	width: 930px;
	height: 744px;
	left: 495px;
	top: 14752px;
	overflow: visible;
}
#Image_1 {
	position: absolute;
	width: 1534px;
	height: 624px;
	left: 200px;
	top: 10435px;
	overflow: visible;
}